In [1]:
from pandas import pandas as pd

In [2]:

df = pd.read_csv('./Resources/vine_table.csv',header=0)
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1P1G5KZ05H6RD,5,0,0,N,Y
1,R106N066IUN8ZV,5,0,0,N,Y
2,R7WTAA1S5O7D9,4,0,0,N,Y
3,R32HFMVWLYOYJK,5,0,0,N,Y
4,RWT3H6HBVAL6G,3,0,0,N,N

In [3]:
df_sample = df[df.total_votes >= 20]
df_sample.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3943,RN8GRZ45FA27G,5,30,31,N,N
4805,R3DHJNHOZTXZ6C,1,0,20,N,N
4927,R2BVILHJN8OCJB,5,29,31,N,N
10144,R1L88H90CK9ID5,1,1,37,N,Y
13574,RJQ36XR04YC0D,5,21,24,N,N

In [4]:
df_filtered = df_sample[(df_sample.helpful_votes/df_sample.total_votes)>0.5]
df_filtered

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3943,RN8GRZ45FA27G,5,30,31,N,N
4927,R2BVILHJN8OCJB,5,29,31,N,N
13574,RJQ36XR04YC0D,5,21,24,N,N
15772,R250VXGBVFWTUV,4,17,20,N,N
18586,R16CPMMKI4ZPZG,5,22,23,N,N
...,...,...,...,...,...,...
380552,R1JLQCBTPJQ1U3,5,18,23,N,N
380558,R387YATDV9ZNZ4,4,63,63,N,N
380560,R22STASPZFA356,5,33,36,N,N
380591,R2LK6YT3SEG5LB,2,46,50,N,N
380601,R1XZKD9S07C6MP,5,42,44,N,N

In [5]:
# Create a df for each member type
df_filtered_Y = df_filtered[df_filtered.vine=='Y']
df_filtered_N = df_filtered[df_filtered.vine=='N']

In [14]:

# Calculate the measures for each type
TotalReviews_Y = df_filtered_Y.review_id.count()
FiveStarReviews_Y = df_filtered_Y.review_id[df_filtered_Y.star_rating == 5.0].count()
FiveStarPct_Y = FiveStarReviews_Y/TotalReviews_Y

TotalReviews_N = df_filtered_N.review_id.count()
FiveStarReviews_N = df_filtered_N.review_id[df_filtered_N.star_rating == 5.0].count()
FiveStarPct_N = FiveStarReviews_N/TotalReviews_N

<ipython-input-14-642cbf98d4c5>:4: RuntimeWarning: invalid value encountered in long_scalars
  FiveStarPct_Y = FiveStarReviews_Y/TotalReviews_Y

In [15]:
# create a dataframe for the results
df_analysis = pd.DataFrame([
    {'Vine member flag':'Y','Total Reviews':TotalReviews_Y,'Five Star Reviews':FiveStarReviews_Y,'Five Star Reviews %':FiveStarPct_Y},
    {'Vine member flag':'N','Total Reviews':TotalReviews_N,'Five Star Reviews':FiveStarReviews_N,'Five Star Reviews %':FiveStarPct_N}
    ])
df_analysis.set_index('Vine member flag',inplace=True)

In [16]:
df_analysis

                  Total Reviews  Five Star Reviews  Five Star Reviews %
Vine member flag
Y                             0                  0                  NaN
N                         20069              12300             0.612886